<footer class = "foot">
    <div class = "container-fluid overlay">
      <div class = "row border h-100 py-3">
        <div class = "col-md-5">
          <h2 class = "my-5 ml-3 foot-head"><span class = "line"></span>GRAN TURISMO&#174;</h2>
          <p class = "para ml-3 my-3">At GRAN TURISMO&#174; our ultimate desire is to cater colossal luxury from the amenity of your home. With over 10 luxury brands being our trusted partners we deliver richness and opulence at your doorstep. By having a profound responsive after sales assistance we make sure you are never left unattended and that is what makes us the finest in the market. </p>
        </div>
        <div class = "col-sm"><h2 class = "my-5 foot-head"><span class = "line"></span>Achievements</h2><br>
          <a href = "#" class = "linkes my-2 mt-n1"> PMIS 2020 #1</a>
          <a href = "#" class = "linkes my-2"> PMCO Regional #1</a>
          <a href = "#" class = "linkes my-2"> RLCS National #2</a>
          <a href = "#" class = "linkes my-2"> VFST 2020 #1</a>
        </div>
        <div class = "col-sm"><h2 class = "my-5 foot-head"><span class = "line"></span>Contact Us</h2>
          <p><i class="far fa-envelope icons mr-3 my-1"></i>Gran-Turismo@gmail.com</p>
          <p><i class="fas fa-phone-alt icons mr-3 my-1"></i>000-282802083</p>
          <h2 class = "my-3  foot-head"><span class = "line"></span>Follow Us</h2><br>
          <p class = "mt-4 icon-tray">
            <span><i class="fab fa-instagram main-icons mr-4 mt-1"></i></span>
            <span><i class="fab fa-facebook-f main-icons mr-4 mt-1"></i></span>
            <span><i class="fab fa-twitter main-icons mr-4 mt-1"></i></span>
          </p>  
        </div>
      </div>
    </div>
  </footer> 