<div class = "header">
    <div class="mobiletray slide-up">
        <ul>
            <li><a href = "/" class = "mob-items">Home</a></li>
            <li><a href = "#" class = "mob-items">Categories</a></li>
            <li><a href = "/brands" class = "mob-items">Brands</a></li>
            <li><a href = "/helpdesk" class = "mob-items">Helpdesk</a></li>
        </ul>  
    </div>
    <div class = "navtray container">
       <div class = "nav-links d-flex justify-content-around">
          <a href = "/" class = "nav-items">Home</a>
          <a href = "/categories" class = "nav-items">Categories</a>
          <a href = "#" class = "nav-logo"><img src="/logo/logo3i.png" class = "logo"></a>
          <a href = "/brands" class = "nav-items">Brands</a>
          <a href = "/helpdesk" class = "nav-items">Helpdesk</a>
       </div>  
    </div>
  </div>