<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Gran Turismo E-showroom">
        <meta name="author" content="Nikhil Chapre, Saumitra Lohokare, Shaunak Deshpande">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="keywords" content="showroom, luxury, cars, suv, brands, online showroom">
        <title>Gran Turismo | E-Showroom</title>
        <link rel="stylesheet" href="helpdesk.css">
        <link rel="stylesheet" href="homepage.css">
        <link rel="stylesheet" href="fonts.css">
        <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
        <link rel="icon" href="logo/logo3.png">

    </head>

    <body>
        <!-- navbar -->

        <%- include('../partials/navbar.ejs') %> 

        <!-- Background image -->

        <div class="back">
            <div class="back-text">
                <h1 class="ml1">
                    <span class="text-wrapper">
                      <span class="letters">Hello, How can we assist you?</span>
                    </span>
                  </h1>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Contact us through Mail</h5>
                          <p class="card-text">Write us an Email regarding your query and we will get back to you within 24 hours.</p>
                          <a href="#" class="btn btn-primary"><i class="fas fa-envelope"></i></a>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="card">
                        <div class="card-body">
                          <h5 class="card-title">Talk to customer care</h5>
                          <p class="card-text">Talk to our customer service executive and discuss your problem.</p>
                          <a href="#" class="btn btn-primary"><i class="fas fa-phone-square-alt"></i></a>
                          <a href="#" class="btn btn-primary"><i class="fas fa-video"></i></a>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>

        <!-- form -->
        <div class="form-holder">
            <form>
                <div class="form-row">
                <div class="form-group col-md-12">
                    <label for="inputEmail4">Name</label>
                    <input type="name" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Email</label>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputEmail4">Phone number</label>
                    <input type="text" class="form-control" id="inputEmail4">
                </div>
                <label for="problem type">Select problem category</label>
                <select class="custom-select">
                    <option selected>Select the problem category</option>
                    <option value="1">Exterior damage</option>
                    <option value="2">Interior damage</option>
                    <option value="3">Electrical problem</option>
                    <option value="4">Mechanical problem</option>
                    <option value="5">Not sure</option>
                  </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Explain your problem briefly</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                <div class="form-group">
                    <label for="inputAddress">Address</label>
                    <input type="text" class="form-control" id="inputAddress" placeholder="VIT chennai, Tamil Nadu">
                </div>


                <button type="submit" class="btn btn-primary submit">Submit</button>
            </form>
        </div>

        <!--Footer Starts-->
        <%- include('../partials/footer.ejs') %>
        <!--Footer Ends-->

        <!-- scripts -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

        <script>
        var textWrapper = document.querySelector('.ml1 .letters');
        textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

        anime.timeline()
        .add({
            targets: '.ml1 .letter',
            scale: [0.3,1],
            opacity: [0,1],
            translateZ: 0,
            easing: "easeOutExpo",
            duration: 600,
            delay: (el, i) => 70 * (i+1)
        }).add({
            targets: '.ml1 .line',
            scaleX: [0,1],
            opacity: [0.5,1],
            easing: "easeOutExpo",
            duration: 700,
            offset: '-=875',
            delay: (el, i, l) => 80 * (l - i)
        });
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/a21a405680.js" crossorigin="anonymous"></script>
        <script src = "navbar.js"></script>
    </body>
</html>