<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gran Turismo | E-Showroom</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="homepage.css">
        <link rel="stylesheet" href="brands.css">
        <link rel="stylesheet" href="fonts.css">
        <link rel="stylesheet"href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"crossorigin="anonymous"/>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
        <link rel="icon" href="../logo/logo3.png">
      </head>
      <body>
        <div class = "header">
          <div class="mobiletray slide-up">
              <ul>
                  <li><a href = "/" class = "mob-items">Home</a></li>
                  <li><a href = "#" class = "mob-items">Categories</a></li>
                  <li><a href = "/brands" class = "mob-items">Brands</a></li>
                  <li><a href = "/helpdesk" class = "mob-items">Helpdesk</a></li>
              </ul>  
          </div>
          <div class = "navtray container">
             <div class = "nav-links d-flex justify-content-around">
                <a href = "/" class = "nav-items">Home</a>
                <a href = "#" class = "nav-items">Categories</a>
                <a href = "#" class = "nav-logo"><img src="logo/logo3i.png" class = "logo"></a>
                <a href = "/brands" class = "nav-items">Brands</a>
                <a href = "/helpdesk" class = "nav-items">Helpdesk</a>
             </div>  
          </div>
        </div> 
        <div class="ring-holder">
          <!-- <span class="middle-text"><img src="logo/logo3.png"></span> -->
          <div class="ring">
            <span style="--i:1;"><a href = "/brands/Audi"><img src="logo/audi.jpg"></a></span>
            <span style="--i:2;"><a href = "/brands/Bentley"><img src="logo/bentley.jpg"></a></span>
            <span style="--i:3;"><a href = "/brands/Rolls Royce"><img src="logo/rr.jpg"></a></span>
            <span style="--i:4;"><a href = "/brands/Lamborghini"><img src="logo/lambo.jpg"></a></span>
            <span style="--i:5;"><a href = "/brands/Mercedes"><img src="logo/merc.jpg"></a></span>
            <span style="--i:6;"><a href = "/brands/BMW"><img src="logo/bmw.jpg"></a></span>
          </div>
        </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
      <script src="https://kit.fontawesome.com/a21a405680.js" crossorigin="anonymous"></script>
      <script src = "js/navbar.js"></script>
    </body>